[Desktop Entry]
Name=lunar-ccalendar-autostart
Name[zh_CN]=lunar-ccalendar-autostart.desktop
Comment=Chinese lunar calendar auto start
Comment[zh_CN]=万年历-开机启动
Exec=/usr/bin/lunar-ccalendar-autostart
Icon=lunar-ccalendar-64.png
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;RasterGraphics;Viewer;
